.window-body .workspace .article-wrap .article-body h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    font-size: 600;
    color: #1e9fff;
    border-bottom: 1px solid #eee;
}